root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
tab_width = 4
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120

[*.{ts,tsx,js,jsx}]
indent_size = 4
indent_style = space
curly_bracket_newline = true

[*.{json,yml,yaml}]
indent_size = 2
indent_style = space

[*.{html,htm}]
indent_size = 4
indent_style = space

[*.{css,scss,less}]
indent_size = 4
indent_style = space

[*.md]
indent_size = 4
trim_trailing_whitespace = false
