.gameinfo {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}

.setup {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
    display: none;
}

.playground {
    margin: 10px;
    padding: 10px;
}

.gamearea {
    float: left;
}

.gamebtn {
    margin: 10px;
    padding: 0px;
    border: 1px solid black;
}